{% extends 'base.html' %}
{% load static %}
{% block body_class %}cor-login{% endblock %}

{% block title %} Faça o seu login ou cadastro {% endblock %}

{% block content %}
{% if user.is_anonymous %}

<main>

    <div class="container">
    
        <div class="centralizar-card">
    
    
            <div class="card" style="width: 25rem; height: 21rem;">
                <div class="card-body rounded-5">
                  <h5 class="card-title title-format">Faça o seu login</h5>
                  <p>Ainda não tem uma conta? <a href="#">Cadastra-se</a></p>
    
                <form method="post" class="d-grid">
                      {% csrf_token %}
                  
                      <div  class="form-floating mb-3 ">
                          <input type="text" name="username" class="form-control labels-cor" id="floatingInput" placeholder="name@example.com">
                          <label for="username" for="floatingInput">Usuário</label>
                      </div>
                  
                      <div class="form-floating mb-3">
                          <input type="password" name="password" class="form-control labels-cor" id="floatingPassword" placeholder="Password">
                          <label for="password" >Palavra-passe</label>
                      </div>
                  
                      <button type="submit" class="btn btn-primary btn-lg">ENTRAR</button>
                  
                </form>

                
            </div>
        </div>
        
        <div>
            <img src="../../static/images/robo.png" alt="">
        </div>
            
        </div>
    
     
    </div>
</main>


{% endif %}
{% endblock %}

