@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@400;700;800&display=swap');

* {box-sizing: border-box;}   

html {font-size: 14px;}

body{ 
    
    color: white;
}

/*=============== LOGIN ===============*/
.cor-login {
    background-color: #061B28;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centralizar-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #163346;
    /* background-color: #0C2230; */
    color: #fff;
}

.card-img {
    display: flex;
    justify-content: space-between;
    width: 62%
}

.card-content {
    margin-right: 31%; 
}

.borda{
    border: none;
    border-radius: 0;
    background-color: #294F81;
}

.title-format {font-size: 24px;}
.apresentation {font-size: 18px;}
.apre-p {font-size: 11px;}
.card-p {font-size: 9px;}
.labels-cor {
    background-color: #061B28;
    border: #061B28;
    color: white;
}
.labels-cor:focus {
    background-color: #061B28;
    color: white;
}

.labels-cor:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s; 
    background-color: #061B28; 
    color: white;
}





